p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.healthyr, .warning, .error {
  padding: 1em 1em 1em 8em;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}
.healthyr {
  // colour origin alignment/size no-repeat;
  background: #2166ac 5px center/6em no-repeat;
  background-image: url("images/calanais.png");
}
.warning {
  background: #fd8d3c 20px center/4em no-repeat;
  background-image: url("images/warning.png");
}
.error {
  background: #cb181d 20px center/4em no-repeat;
  background-image: url("images/error.png");
}
